html
{
	background:		#0D3725;
	color:			#00bb6B;	
}

section, nav
{
	background:		#000000;

	margin:			4px auto;
	padding:		4px;
	
	width:			50%;
}

nav
{
	text-align:		center;
}

a
{
	color:			#00bb6B;
}

canvas
{
	margin:			0 auto;
}

.nav_link
{
	width:			-webkit-max-content;
	width:			-moz-max-content;
	width:			max-content;

	margin:			2px auto;
}

.page_title
{
	width:			-webkit-max-content;
	width:			-moz-max-content;
	width:			max-content;

	margin:			0 auto;
}
